body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d60000;
}

.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.page-title {
  background: white;
  padding: 20px;
}

.page-title h1 {
  color: #d60000;
  margin: 0;
  font-size: 22px;
}

.hamburger {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Main layout */

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  /* display: flex;
  gap: 20px;
  padding: 20px; */
  display: flex;
  background-color: #FFFFFF;

}

.main-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.content-panel {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 2px;
}

.sidebar h2 {
  font-size: 18px;
}

.filter-section {
  margin-bottom: 20px;
}

.search-form-box {
  display: flex;
}

.filter-section input[type="text"] {
  width: 100%;
  padding: 6px;
  margin: 8px 0;
}

.filter-section button {
  padding: 6px 12px;
  cursor: pointer;
}

.stars {
  color: #f9a825;
  font-size: 16px;
}

/* Hotel List */
.hotel-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hotel-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow: hidden;
  background: white;
  padding: 5px;
}

.hotel-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.hotel-info {
  flex: 1;
  padding: 10px 15px;
}

.hotel-info h3 {
  margin: 0 0 5px;
}

.room-type {
  color: #666;
  font-size: 14px;
}

.price {
  width: 100px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* Ad Banner */
.ad-banner {
  width: 160px;
}

.ad-banner img {
  width: 100%;
  height: auto;
}

/* Mobile Responsiveness */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .sidebar {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background: #f5f5f5;
    width: 250px;
    padding: 15px;
    z-index: 1000;
    height: 100%;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  }

  .sidebar.open {
    display: block;
  }

  .ad-banner {
    display: none;
  }

  .hotel-card {
    flex-direction: column;
    align-items: stretch;
  }

  .hotel-card img {
    width: 100%;
    height: auto;
  }

  .price {
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
  }
}